# Core App
fastapi
uvicorn
asgi-correlation-id
structlog

# LangChain and LangGraph Ecosystem
langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai
langchain-google-genai
langchain-chroma
langchain-elasticsearch
langchain-text-splitters
rapidfuzz

# LangGraph and Checkpoints
langgraph
langgraph-checkpoint
langgraph-checkpoint-mongodb
langgraph-prebuilt
langgraph-sdk

# OpenAI and Generative AI
openai
langsmith

# Databases
pymongo
redis
SQLAlchemy
qdrant-client

# ML & DL
pandasai
pandas
chardet
openpyxl
xlrd

# Cloud, HTTP, and Env
boto3
requests
python-dotenv

# Utilities
pydantic
nest_asyncio
opentelemetry-api
opentelemetry-sdk
langdetect
sse-starlette
typing-extensions
