# Core App
fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]

# Database
pymongo
SQLAlchemy
psycopg2-binary
redis

# Utilities
pydantic
python-dotenv
requests
email-validator

# Security
cryptography
bcrypt

# Cloud
boto3

# Logging
structlog
asgi-correlation-id
