# Data Processing and Analysis
numpy
pandas
scikit-learn
imbalanced-learn

# Visualization
matplotlib
seaborn

# ML Ops
mlflow
joblib
pyyaml
dagshub

# API
fastapi
uvicorn
python-multipart

# Cloud and Storage
boto3
s3fs
# Utilities
python-dotenv
pydantic
evidently
langchain-core
ensure
python-box
chardet

typing-extensions