# Core App
fastapi
uvicorn
asgi-correlation-id
structlog

# LangChain and LangGraph Ecosystem
langchain
langchain-Core
langchain-community
langchain-experimental
langchain-openai
langchain-google-genai
langchain-chroma
langchain-elasticsearch
langchain-text-splitters
rapidfuzz

# PDF & File Handling
Pillow

# NLP, Transformers, and Parsing
beautifulsoup4
bs4
nltk
rank_bm25

# Databases
pymongo
redis
SQLAlchemy
qdrant-client

# Cloud, HTTP, and Env
cloudscraper
boto3
requests
python-dotenv

# Utilities
pydantic
typing-extensions
