# Core App
fastapi
uvicorn
asgi-correlation-id
opentelemetry-api
opentelemetry-sdk
structlog

# LangChain and LangGraph Ecosystem
LangChain
langchain-Core
langchain-community
langchain-experimental
langchain-openai
langchain-google-genai
langchain-chroma
langchain-elasticsearch
langchain-text-splitters
rapidfuzz

# LangGraph and Checkpoints
langgraph
langgraph-checkpoint
langgraph-checkpoint-mongodb
langgraph-prebuilt
langgraph-sdk

# OpenAI and Generative AI
openai
langsmith

# NLP, Transformers, and Parsing
beautifulsoup4
bs4
nltk
rank_bm25

# PDF & File Handling
PyMuPDF
pypdf

# Databases
pymongo
redis
SQLAlchemy
psycopg2-binary
qdrant-client



# Cloud, HTTP, and Env
cloudscraper
boto3
requests
python-dotenv

# Utilities
pydantic
sse-starlette
langdetect
typing-extensions
